body {
    background: #3d0859;
    text-align: left;
    margin: 0;
}
button {
	background-color:green;
	height:30px;
	width:150px;
	color:white;
	border-radius: 5px;
}
p {
	color:white;
}